@media screen and ( max-width: 320px  )
  .container
    width: 320px
    height: 100vh
    // background: #E5E5E5
    align-items: start

  
  .wrapper
    width: 100%
    height: auto
    flex-direction: column
    align-items: center
    // padding-top: 200px
    
  
  .main
    width: 100%
    flex-direction: column
    align-items: center
    margin-top: 60px
    margin-bottom: 59px
    background: #FFFFFF
    &__footer
      width: 100%
      display: block
      font-size: 14px
      color: #212121
      background: transparent
      text-align: center
      padding: 11px 0
      margin-top: 27px

  
  .product
    width: 320px
    height: auto
    background: #FFFFFF
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
    padding: 40px 20px 20px 20px
    &::after  // фоновые кольцо
      display: none 
    &__title
      width: 50%
      color: #212121
      margin: 0 0 9px 0 
      order: 1
      
      &--lower
        width: 50%
        order: 2
        margin: 0
        display: flex
        justify-content: flex-end

    &__picture
      width: 202px
      height: 202px
      // padding: 0 50px
      background: #428A60
      border-radius: 50%
      margin: 0
      position: relative
      z-index: 10
      order: 3
    &__img //картинка с продуктом
      width: 223px
      height: 122px
      margin: 48px 0 0 -2px
  
  .аpplication
    width: 100%
    height: auto
  .title
    width: 100%
    padding: 0 20px
    background: transparent
    align-items: start
    padding: 17px 0 0 0 
    
  br
    display: none
  .form
    padding: 0 20px
  .input
    width: 280px
    padding: 0 0 0 9px
  .phone
    &__tel
      width: 174px
  .select
    width: 96px
    padding:  5px 0px
    margin: 0 0 0 9px
  .button
    &__form
      width: 280px
      margin-top: 28px
  
    
    
  .fa-lock
    &::before
    content: '\f023'
    font-family: fontawesome !important
    display: inline-block
    width: 10px 
    height: 10px
    color: #428A60 
    margin: 0 17.14px
    font-size: 18px
    
  .lang
    margin: 0
  .arrow
    margin: -5px 0 0 0
  

      
  
      

    



  